extends layout
block content
    div#addExpenseContainer
        form#addExpenseForm(action='/expenses/addexpense' method='post')
            ul.form-style-1
                li  
                    h5 Add Expense
                li
                    label
                        | Name of Expense
                        span.required *
                    input.field-long(type='text', name='name_of_expense', placeholder='Electric Bill')
                li
                    label
                        | Company/Person Billable To 
                        span.required *
                    input.field-long(type='text', name='company_name', placeholder='Con Edison')
                li
                    label
                        | Payee
                        span.required *
                    input.field-long(type='text', name='payee', placeholder='George')
                li#payPeriod
                    label Fee Period
                    select.payPeriodSelect.field-select(name='pay_period')
                        option(value='Monthly') Monthly
                        option(value='Yearly') Yearly
                        option(value='Weekly') Weekly
                li
                    label 
                        span.salaryTerm Monthly  
                        | Fee
                        span.required *
                    input#field5.salary.field-short(type='text', name='monthly', placeholder='350')
                li#dayOfMonthLi
                    label
                        span.dayOfMonth Day of Month
                    input#field5.dayOfMonth.field-short(type='text', name='day_of_month', placeholder='12')
                li
                    input(type='submit', value='Submit')
    script.
        $('#payPeriod').on('change', changeExpenseInputFields);