extends layout
block content
    h1= title
    #wrapper
        div#expense-container
            button#goToExpense Add Expense
            button#goToIncome Add Income
            script.
                $('#goToIncome').on('click', goToIncome);
                $('#goToExpense').on('click', goToExpense);
            div#expenseList
                table.table-bordered.expenses-table
                    thead
                        th#expenseHead Name
                        th#expenseHead Company
                        th#expenseHead Type
                        th#expenseHead Monthly Cost
                        th#expenseHead Day of Month
                        th#expenseHead Delete
                    tbody
                    tfoot
                        tr
                            th(scope='row') Total Expense
                                td 
                                td
                                td#totalFeeMonthly
                                td
                                td
            script.
                $('#expenseList table tbody').on('click', 'td a.deleteExpenseLink', deleteExpense);
        div#incomeContainer
            div#incomeList
               table.table-bordered.incomes-table
                    thead
                        th#incomeHead Employee
                        th#incomeHead Company
                        th#incomeHead Title
                        th#incomeHead Hours Per Week
                        th#incomeHead Hourly Pay
                        th#incomeHead Weekly Pay
                        th#incomeHead Monthly Pay
                        th#incomeHead Yearly Pay
                        th#incomeHead Delete
                    tbody
                    tfoot
                        tr
                            th(scope='row') After Tax
                                td
                                td
                                td
                                td
                                td#totalIncomeWeeklyAfterTax
                                td#totalIncomeMonthlyAfterTax
                                td#totalIncomeYearlyAfterTax
                                td
                    tfoot
                        tr
                            th(scope='row') Total Income
                                td
                                td
                                td
                                td
                                td#totalIncomeWeekly
                                td#totalIncomeMonthly
                                td#totalIncomeYearly
                                td
            script.
                $('#incomeList table tbody').on('click', 'td a.deleteIncomeLink', deleteIncome);
        div#graphs
            canvas#pieChart(width='204' height='205')
            canvas#barChart(width='900' height='350')