extends layout
block content
    div#addIncomeContainer
        form#addIncomeForm(action='/incomes/addincome' method='post')
            ul.form-style-1
                li  
                    h5 Add Income
                li
                    label
                        | Name of Employee
                        span.required *
                    input.field-long(type='text', name='name_of_worker', placeholder='Daniel')
                li
                    label
                        | Company Name 
                        span.required *
                    input.field-long(type='text', name='company_name', placeholder='Google')
                li
                    label
                        | Company Title 
                        span.required *
                    input.field-long(type='text', name='company_title', placeholder='Software Engineer')
                li#payPeriod
                    label Pay Period
                    select.payPeriodSelect.field-select(name='pay_period')
                        option(value='Yearly') Yearly
                        option(value='Monthly') Monthly
                        option(value='Weekly') Weekly
                        option(value='Hourly') Hourly
                li
                    label 
                        span.salaryTerm Yearly  
                        | Salary
                        span.required *
                    input#field5.salary.field-short(type='text', name='yearly', placeholder='75000')
                li
                    input(type='submit', value='Submit')
    script.
        $('#payPeriod').on('change', changeIncomeInputFields);