doctype html
html
    head
        title layout
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
        script(src='/package/jquery.min.js')
        script(src='/src/main.js')
    body
        div.container
            block content