.expenses-table{
    width: 100%;
}

.table-head{
    text-align: center;
}

#expense-container{
    position: relative;
    display: inline-block;
    max-width: 50%;
}

#inputExpenseName, #inputExpenseType, #inputExpenseFee, #inputDayOfMonth{
    width: 24%;
}

#company-name{
    color: red;
}

#addIncome{
    position: relative;
}

#addIncomeInputLabels{
    float: left;
}

#addIncomeFieldset{
    float: left;
}

.jumbotron{
    height: 400px;
}