.expenses-table{
    width: 100%;
}

.table-head{
    text-align: center;
}

#expense-container{
    position: relative;
    display: inline-block;
    max-width: 50%;
}

#inputIncomeCompany, #inputIncomeRate, #inputIncomeFrequency, 

#inputExpenseName, #inputExpenseType, #inputExpenseFee, #inputDayOfMonth{
    width: 24%;
}